@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'DM Serif Display', serif;
}

body {
  background-color: #fafafa;
  font-family: 'Karla', sans-serif;
  font-size: 1.125em;
}

.container {
  max-width: 1440px;
  margin: 0 5rem;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #2b272f;
  padding: 0.5rem 1.5rem;
  font-size: 1em;
  font-weight: 400;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.nav-bar .logo {
  height: 18px;
}

.nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.nav-bar .nav-links .nav-link {
  margin-right: 2rem;
  color: #837d87;
  text-decoration: none;
  font-weight: 700;
}

.nav-bar .nav-links .nav-btn {
  color: #2b272f;
}

.header-intro {
  background-color: #2C2640;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header-intro .intro-right-pattern {
  position: absolute;
  right: 0;
  top: -80px;
  z-index: 999;
}

.header-intro .header-intro-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fafafa;
  position: relative;
}

.header-intro .header-intro-inner .intro-image {
  position: relative;
  top: 100px;
  right: 0;
}

.header-intro .header-intro-discreption {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-right: 1.5rem;
}

.header-intro .header-intro-discreption h1 {
  font-size: 5rem;
  font-weight: 400;
  position: relative;
  line-height: 1;
}

.header-intro .header-intro-discreption h1::before {
  content: '';
  display: block;
  width: 10rem;
  height: 1px;
  background-color: #fafafa;
  position: absolute;
  top: -50px;
}

.header-intro .header-intro-discreption .intro-btn {
  color: #fafafa;
  border: 1.5px solid #fafafa;
  font-weight: 400;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header-intro .header-intro-discreption .title-discreption {
  margin: 30px 0;
  font-weight: 100;
  font-size: 14px;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */